@section head{
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>قالب ریسپانسیو فروشگاهی pillomart :: دریافت شده از وب روبیک</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap4-rtl.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- icon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
}
<form>
    <div class="container">
        <div class="row button-area">
            <div class=" col-2">
                <button asp-action="DealerSignUp" class="btn_3" /> ثبت نام

            </div>
            <div class="col-2">

                <button asp-controller="Account" asp-action="Login" class="btn_3" /> ورود
            </div>
        </div>
    </div>
</form>
