@model AddProductForDealerViewModel
@section head{
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>قالب ریسپانسیو فروشگاهی pillomart :: دریافت شده از وب روبیک</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap4-rtl.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- icon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
}
<div class="container">
    <div class="section-top-border">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3 class="mb-30">فرم ثبت محصول</h3>
                <form asp-action="AddProductByDealer" asp-controller="Dealer" method="post" enctype="multipart/form-data">

                    <div class="mt-10">
                        <input asp-for="ProductName" type="text" placeholder="نام محصول" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Product Name'" required class="single-input-primary">
                    </div>
                    <div class="mt-10">
                        <textarea asp-for="Description" placeholder="توضیحات" onfocus="this.placeholder = ''"
                                  onblur="this.placeholder = 'Description'" required class="single-textarea"></textarea>
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                        <input asp-for="Price" type="text" placeholder="قیمت" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Price'" required class="single-input-primary">
                    </div>


                    <div class="mt-10">
                        <input asp-for="CategoryName" class="single-input-primary" placeholder="دسته بندی" onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Category'" required />
                    </div>

                    <div class="mt-10">
                        <label for="customFile">آپلود عکس</label>
                        <input asp-for="img" type="file" placeholder="آپلود عکس"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'" required
                               id="file">
                    </div>
                    <div class="button-area">
                        <input type="submit" value="ثبت" class="btn_3" />
                    </div>
                </form>

            </div>

        </div>

    </div>

</div>
@section scripts{
    <!-- jquery plugins here-->
    <script src="~/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
}