@model RoleViewModel

    <div class="row">

        <div class="col-3 col-md-3"></div>

        <div class="col-3 col-md-3">

            <form method="post">
                <input asp-for="Name" placeholder="نام" />
                <button class="btn btn-info" type="submit">تعریف نقش</button>
            </form>

        </div>

        <div class="col-3 col-md-3"></div>

    </div>